a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.cursor_pos_1, .cursor_pos_2, 
.cursor_pos_3, .cursor_pos_4, 
.cursor_pos_5, .cursor_pos_6,
.cursor_pos_5_1, .cursor_pos_4_1 {
  position: relative;
}/* 1006 */

.icon_img.white {
  width: clamp(24px, 20px + 2.3vw, 2.3em);
  height: clamp(24px, 20px + 2.3vw, 2.3em);
  filter: invert(99%) sepia(1%) saturate(7498%) hue-rotate(184deg) brightness(102%) contrast(103%);
}

.icon_img.white60 {
  width: 60%;
  height: 60%;
  filter: invert(99%) sepia(1%) saturate(7498%) hue-rotate(184deg) brightness(102%) contrast(103%);
}

.icon_img.white70 {
  width: 70%;
  height: 70%;
  filter: invert(99%) sepia(1%) saturate(7498%) hue-rotate(184deg) brightness(102%) contrast(103%);
}

.icon_img.white99 {
  width: 99%;
  height: 99%;
  filter: invert(99%) sepia(1%) saturate(7498%) hue-rotate(184deg) brightness(102%) contrast(103%);
}

.icon_img.head {
  width: 80%;
  height: 80%;
}

.icon_img.head60 {
  width: 60%;
  height: 60%;
}

.icon_img.head70 {
  width: 70%;
  height: 70%;
}

.icon_img.head99 {
  width: 99%;
  height: 99%;
}

.icon_img.ccc {
  width: 8%;
  height: 8%;
}

.icon_img.ccc5 {
  width: 5%;
  height: 5%;
}

.icon_img.linkbar {
  width: 8%;
  padding: .2em;
}

.icon_img.lock {
  width: 80%;
  height: 80%;
}

.icon_img.video-comment {
  width: clamp(20px, 20px + 1vw, 1.3em);
  height: clamp(20px, 20px + 1vw, 1.3em);
}


.icon_img.bar {
  width: clamp(33px, 20px + 1vw, 9em);
  height: clamp(33px, 20px + 1vw, 9em);
}

.icon_img.emoji {
  width: clamp(33px, 20px + 1vw, 9em);
  height: clamp(33px, 20px + 1vw, 9em);
  margin-bottom: .3em;
}

#tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
}


/* ---------------------------0915 추가  -------------------------------*/
/* 빨간 동그라미  */

/* .guide_wrap {
  position: relative;
} */

.cursor_wrap {
  position: absolute;
  top: 50%;
  right: 1em;
  overflow: visible;
}


.cursor {
  cursor: help;
  display: inline-flex;
  flex-direction: column;
  z-index: 200;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  /* transform: translate3d(337px, 297px, 0px); */
}

.cursor_outer {
  /* animation: 1.2s ease-in-out 0s infinite normal none running joyride-beacon-inner; */
  background-color: rgb(255, 0, 68);
  border-radius: 50%;
  display: block;
  height: 70%;
  left: 50%;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.cursor_inner {
  animation: 1.2s ease-in-out 0.2s infinite normal none running joyride-beacon-outer;
  background-color: rgba(255, 0, 68, 0.2);
  border: 2px solid rgb(255, 0, 68);
  border-radius: 70%;
  box-sizing: border-box;
  display: block;
  height: 100%;
  left: 0px;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  transform-origin: center center;
  width: 100%;
}

.react-joyride__beacon {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  color: rgb(85, 85, 85);
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 8px;
  appearance: none;
  display: inline-block;
  height: 36px;
  position: relative;
  width: 36px;
  z-index: 100;
}

@keyframes joyride-beacon-outer {
  0% {
    transform: scale(1);
  }

  45% {
    opacity: 0.7;
    transform: scale(2.5);
  }

  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

/* ----------------------------- 0915 추가 끝 -------------------------------*/

header {
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: clamp(24px, 20px + 2.3vw, 2.3em);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fff;
  display: inline;
}

h2 {
  font-size: clamp(24px, 13px + 2vw, 2em);
  margin-block-start: 0.1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  display: inline;
}

h3 {
  font-size: clamp(18px, 18px + 1.3vw, 1.3em);
  margin-block-start: 0.1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  display: inline;
  letter-spacing: 4px;
}

p {
  font-size: clamp(18px, 20px + 1.5vw, 1.5em);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 375px;
  width: 100%;
  height: 100%;
  background: #eee;
}

#wrap .view {
  overflow: hidden;
  box-sizing: content-box;
  flex-basis: var(--screen-width);
  width: 50vh;
  min-height: 100vh;
  position: relative;
  background: #fff;
}

#main {
  min-width: auto;
  position: relative;
  /* padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto; */
}

#main {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
}

#main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.container {
  width: 100%;
  max-width: calc(100vh / 2);
}

/* ----------------------------------------------------------------------------------- */

.type-bg {
  width: 100%;
  max-width: calc(100vh / 2);
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-position: center;
}

.typelist {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.type-list {
  min-width: 97%;
  background: #F6F6F6;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 7%;
  border-radius: 20px;
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.talk.talk_main {
  background: #bdd6ec;
  height: 83vh;
  padding: 1em;
}

.news,
.chat,
.cafe,
.blog {
  height: 80vh;
  padding: 1em;
}

.cafelist,
.bloglist,
.chatlist,
.newslist,
.video {
  height: 90vh;
  padding: 1em;
}

.videolist {
  height: 82vh;
}

.btn_wrap {
  position: relative;
  width: 100%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------- haeder----------------------------------- */
.hd_left,
.hd_right {
  width: 13%;
  text-align: center;
}

.hd_center {
  width: 70%;
  text-align: center;
}

.hd_playerlist {
  background: #424242;
}

.hd_playerlist .hd_center {
  width: 100%;
}

.hd_msglist,
.hd_msg {
  background: #0094FF;
}

.hd_msglist .hd_left,
.hd_msglist .hd_right,
.hd_msg .hd_left,
.hd_msg .hd_right {
  width: 20%;
  text-decoration: none;
}

.hd_msglist .hd_center,
.hd_msg .hd_center {
  width: 60%;
  text-align: unset;
}

.hd_talklist {
  background: rgba(255, 223, 0, 1);
  position: relative;
  display: flex;
  align-items: center;
}

.hd_talk {
  background: #8aa2b8;
  position: relative;
  display: flex;
  align-items: center;
}

.hd_talk .hd_center {
  width: 70%;
}

.hd_form {
  background: #0f2650;
  position: relative;
  height: 24vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hd_type {
  background: #0f2650;
  position: relative;
  height: 24vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1422 800'%3E%3Cg stroke-width='7' stroke='hsl(0, 0%25, 100%25)' fill='none' stroke-linecap='butt'%3E%3Cline x1='0' y1='0' x2='104' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='104' y1='0' x2='208' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='312' y1='0' x2='208' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='312' y1='0' x2='416' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='416' y1='0' x2='520' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='624' y1='0' x2='520' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='624' y1='0' x2='728' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='728' y1='0' x2='832' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='936' y1='0' x2='832' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='1040' y1='0' x2='936' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='1040' y1='0' x2='1144' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='1144' y1='0' x2='1248' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='1248' y1='0' x2='1352' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='1352' y1='0' x2='1456' y2='104' opacity='1.00'%3E%3C/line%3E%3Cline x1='0' y1='104' x2='104' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='208' y1='104' x2='104' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='208' y1='104' x2='312' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='416' y1='104' x2='312' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='416' y1='104' x2='520' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='624' y1='104' x2='520' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='624' y1='104' x2='728' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='728' y1='104' x2='832' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='832' y1='104' x2='936' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='1040' y1='104' x2='936' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='1144' y1='104' x2='1040' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='1144' y1='104' x2='1248' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='1352' y1='104' x2='1248' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='1456' y1='104' x2='1352' y2='208' opacity='0.88'%3E%3C/line%3E%3Cline x1='0' y1='208' x2='104' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='208' y1='208' x2='104' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='312' y1='208' x2='208' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='416' y1='208' x2='312' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='520' y1='208' x2='416' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='624' y1='208' x2='520' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='624' y1='208' x2='728' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='728' y1='208' x2='832' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='832' y1='208' x2='936' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='1040' y1='208' x2='936' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='1040' y1='208' x2='1144' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='1144' y1='208' x2='1248' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='1352' y1='208' x2='1248' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='1352' y1='208' x2='1456' y2='312' opacity='0.75'%3E%3C/line%3E%3Cline x1='104' y1='312' x2='0' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='104' y1='312' x2='208' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='312' y1='312' x2='208' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='312' y1='312' x2='416' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='416' y1='312' x2='520' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='520' y1='312' x2='624' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='728' y1='312' x2='624' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='728' y1='312' x2='832' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='936' y1='312' x2='832' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='1040' y1='312' x2='936' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='1040' y1='312' x2='1144' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='1248' y1='312' x2='1144' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='1248' y1='312' x2='1352' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='1352' y1='312' x2='1456' y2='416' opacity='0.63'%3E%3C/line%3E%3Cline x1='104' y1='416' x2='0' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='208' y1='416' x2='104' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='208' y1='416' x2='312' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='416' y1='416' x2='312' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='520' y1='416' x2='416' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='520' y1='416' x2='624' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='728' y1='416' x2='624' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='832' y1='416' x2='728' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='832' y1='416' x2='936' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='936' y1='416' x2='1040' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='1040' y1='416' x2='1144' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='1144' y1='416' x2='1248' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='1248' y1='416' x2='1352' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='1352' y1='416' x2='1456' y2='520' opacity='0.51'%3E%3C/line%3E%3Cline x1='0' y1='520' x2='104' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='104' y1='520' x2='208' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='208' y1='520' x2='312' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='312' y1='520' x2='416' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='520' y1='520' x2='416' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='520' y1='520' x2='624' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='624' y1='520' x2='728' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='728' y1='520' x2='832' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='832' y1='520' x2='936' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='936' y1='520' x2='1040' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='1144' y1='520' x2='1040' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='1144' y1='520' x2='1248' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='1352' y1='520' x2='1248' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='1456' y1='520' x2='1352' y2='624' opacity='0.38'%3E%3C/line%3E%3Cline x1='0' y1='624' x2='104' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='104' y1='624' x2='208' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='312' y1='624' x2='208' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='312' y1='624' x2='416' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='416' y1='624' x2='520' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='520' y1='624' x2='624' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='624' y1='624' x2='728' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='728' y1='624' x2='832' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='832' y1='624' x2='936' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='936' y1='624' x2='1040' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='1040' y1='624' x2='1144' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='1144' y1='624' x2='1248' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='1248' y1='624' x2='1352' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='1456' y1='624' x2='1352' y2='728' opacity='0.26'%3E%3C/line%3E%3Cline x1='104' y1='728' x2='0' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='104' y1='728' x2='208' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='208' y1='728' x2='312' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='416' y1='728' x2='312' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='416' y1='728' x2='520' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='520' y1='728' x2='624' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='624' y1='728' x2='728' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='832' y1='728' x2='728' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='936' y1='728' x2='832' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='936' y1='728' x2='1040' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='1040' y1='728' x2='1144' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='1248' y1='728' x2='1144' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='1248' y1='728' x2='1352' y2='832' opacity='0.14'%3E%3C/line%3E%3Cline x1='1352' y1='728' x2='1456' y2='832' opacity='0.14'%3E%3C/line%3E%3C/g%3E%3C/svg%3E%0A");
}

.hd_type .hd_left {
  width: auto;
  padding-top: 30%;
  padding-left: 1.7em;
  color: #fff;
}

.hd_videolist,
.hd_video {
  background: #ED3023;
}

.hd_cafelist,
.hd_cafe {
  background: #662FDA;
}

.hd_bloglist,
.hd_blog {
  background: #FF8A00;
}

.hd_newslist {
  background: rgba(81, 180, 0, 1);
}

.hd_chat {
  background: #424242;
  position: relative;
  display: flex;
  align-items: center;
}

#hd_GvFakeSite {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  padding-left: 0;
  color: #fff;
}

#hd_from_GvFakeSite {
  background: #424242;
  position: relative;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------------------------- */

.talkbar .msg-box {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin-left: .3em;
  font-size: clamp(12px, 12px + 1.2vw, 1.5em);
  color: #BDBDBD;
}

.msgbar .msg-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: .5em .7em .5em 1.5em;
  margin-left: .3em;
  margin-right: .3em;
  border: 1px solid #BDBDBD;
  border-radius: 1em;
  font-size: clamp(10px, 10px + 1.2vw, 1.5em);
  color: #BDBDBD;
}

.msgbar .sender {
  min-width: 17%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  border-radius: 1em;
  margin-right: .3em;
}

.sender .txt {
  /* color: #fff; */
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
}

.sender>img {
  width: 2em;
  height: 2em;
  background: rgba(255, 223, 0, 1);
  border-radius: 100%;
}

.chat .chat_item .bubble:not(:first-child) {
  margin-top: 10px;
}

.chat .chat_item.other {
  justify-content: flex-start;
  align-items: flex-start;
}

/* ------------------------------------------------------------------------------ */
.talk .talk_item>div,
.talk .talk_item.other,
/* .talk .talk_item .bubble, 1011*/
.talk .talk_item .bubble_image {
  display: flex;
  max-width: 95%;
  position: relative;
  /*0915 추가사항*/
}

.talk .talk_item .bubble_image {
  margin-top: 5px;
}

.talk .talk_item .bubble:not(:first-child) {
  margin-top: 5px;
}

.talk .talk_item .cont {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
}

.talk .talk_item.other {
  display: flex;
  align-items: flex-start;
}

.talk .talk_item:not(:last-child) {
  padding-bottom: 1em;
}

.talk .talk_item.other .bubble {
  color: #000;
  background: #fff;
  border-radius: 0 20px 20px 20px;
  -webkit-border-radius: 0 20px 20px 20px;
}

.talk .talk_item.other .bubble_prev {
  margin-top: 5px;
  max-width: 95%;
  color: #000;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
}/*1012*/

.talk .talk_item.self .bubble_prev {
  flex-direction: column;
  margin-top: 5px;
  color: #000;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
}/*1012*/

.talk .talk_item.self {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  padding-left: 25%;
  width: 100%;
}

.prev_title{
  padding-bottom: 0.3em;
}

.vaccine{
  padding: 1em;
  padding-bottom: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}/*1012*/

.move_to_site{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-color: #eeeeee;
  height: auto;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  font-size: clamp(10px, 10px + 1.3vw, 1.2em);
  padding: .5em;
}
/*1012*/

.talk .talk_item.self .bubble {
  color: black;
  background: #FFEB33;
  border-radius: 20px 0px 20px 20px;
  -webkit-border-radius: 20px 0px 20px 20px;
}

.fakesitebar {
  width: 100%;
  height: 16vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(11px, 11px + 1.4vw, 1.4em);
  background: #3B5A73;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.fakesitebar-top,
.fakesitebar-bottom {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fakesitebar-top .left,
.fakesitebar-bottom .left {
  border-right: 1px solid #fff;
}

.fakesitebar-top .left,
.fakesitebar-top .right {
  border-bottom: 1px solid #fff;
}

.ps-fake {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-end;
}

.ps-fake.fake2 {
  padding: 1em;
}

/* ---------------------------------------------------------------- */

.video .video_item>div,
.video .video_item,
.video .video_item .playing-video,
.video .video_item .recommend-video {
  max-width: 100%;
}


.videobar .videobar_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: clamp(8px, 8px + 1vw, 1em);
  color: #BDBDBD;
  padding: 1em;
}

/* ---------------------------------------------------------------- */


/*모달창- 팩트체크 인트로*/
.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 45%;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0 2px 55px -25px rgb(0 0 0 / 100%);
}

/*모달창 - 이후 팩트체크 내용
같은 css적용 시 애니메이션 단계에서 적용이 다르게 돼서 분리해둠*/
#modal1,
#modal2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 45%;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0 2px 55px -25px rgb(0 0 0 / 100%);
}

#modal_loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  min-height: 30%;
  background-color: #fff;
  border-radius: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 0 2px 55px -25px rgb(0 0 0 / 100%);
}

/*--------------------0913 수정 : 아이디 추가------------------------------------------------*/
/*팩트체크 인트로*/
/*1006*/
#FC1,#FC3,
#FC1_2,#FC3_2,
#FC1_3,#FC3_3,
#FC1_4,#FC3_4,
#FC1_5,#FC3_5{
color: #085DC8;
}

#FC2,#FC4,
#FC2_2,#FC4_2,
#FC2_3,#FC4_3,
#FC2_4,#FC4_4,
#FC2_5,#FC4_5 {
color: #51B400;
}

/*--------------------0913 수정 끝------------------------------------------------*/


/*rig 수치 수정++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------------------ NEW 알림 뱃지 ------------------------------------------------ */
.nav-counter {
  font-size: 1.2em;
  width: 1.5em;
  height: 1.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  background: #eb4c42;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------ cont-guide ------------------------------------------------ */
.cont-guide {
  background: rgba(8, 93, 200, 1);
  padding: 20px;
  /* border: 1px solid #b4b4b5; */
  width: 200px;
  border-radius: 5px;
  position: relative;
  color: white;
  text-align: center;
  font-size: clamp(14px, 177.2px, 1.7em);
  /* box-shadow: 0 0 3px #b4b4b5; */
}

.cont-guide::before {
  position: absolute;
  content: "";
  display: block;
}

.cont-guide::before {
  right: 1em;
  z-index: 2;
  top: -10px;
  border-bottom: 10px solid rgba(8, 93, 200, 1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}


.chat .chat_item>div,
.chat .chat_item,
.chat .chat_item .bubble,
.chat .chat_item .bubble_image {
  max-width: 92%;
}

.chat .chat_item .bubble:not(:first-child) {
  margin-top: 10px;
}

.chat .chat_item.other .bubble {
  color: #000;
  background: #eee;
  border-radius: 0 20px 20px 20px;
  -webkit-border-radius: 0 20px 20px 20px;
}

/* ------------------------------------------------------------------------------------------- */
.heart,
.thumbsup {
  display: inline;
}

.heart .icon_img {
  filter: invert(20%) sepia(100%) saturate(2637%) hue-rotate(352deg) brightness(93%) contrast(95%);
}

.cafebar,
.blogbar,
.newsbar,
.chatbar,
.msgbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: #fafafa;
  width: 100%;
  height: 10vh;
}

.cafebar,
.blogbar,
.newsbar {
  background: #f6f6f6;
}

.talkbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: #fafafa;
  width: 100%;
  height: 7vh;
}

.talkbar {
  padding-right: .5em;
}

.videobar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fafafa;
    width: 100%;
    height: 8vh;
}

.cafebar .reactions,
.blogbar .reactions,
.newsbar .reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: clamp(21px, 21px + 2vw, 2em);
}

.cafebar>.reactions .like,
.blogbar>.reactions .like,
.blogbar>.reactions .share,
.newsbar>.reactions .like {
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .7em;
  padding-right: .7em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blogbar>.reactions .share,
.blogbar>.reactions .like .heart,
.blogbar>.reactions .like .comment {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: .5em;
  font-size: clamp(28px, 10px + 1.3vw, 1em);
}

.cafebar>.reactions .comment,
.newsbar>.reactions .comment {
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .7em;
  padding-right: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_wrap {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  padding-right: .5em;
  border-bottom: 1px solid #e0e0e0;
}

.info_wrap .cafe-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  /* color: #bdbdbd; */
  font-size: clamp(21px, 21px + 2.4vw, 2.4em);
}

.info_wrap .blog-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  /* color: #bdbdbd; */
  font-size: clamp(21px, 21px + 2.4vw, 2.4em);
  margin-bottom: 8px;
}

.icon_reply {
  width: 2em;
  height: 2em;
  padding-top: .5em;
}

/* .cafe .cafe_item > .comment, .reply{
  border-bottom: 1px solid #e0e0e0;
} */

.blog .blog_item .comment-cont {
  font-size: clamp(12px, 12px + 1.5vw, 1.5em);
  border-bottom: 1px solid #e0e0e0;
}

.scene-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scene-end .btn {
  position: relative;
  color: #fff;
  font-size: clamp(14px, 14px + 1.7vw, 1.7em);
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, .075);
  border-radius: 100px;
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
}

.scene-end .btn-example {
  background: #51B400;
}

.scene-end .btn-backChatList {
  background: rgba(8, 93, 200, 1);
}

/*--------------------------------------------- 모달창 ---------------------------------------------*/
.popup .title {
  margin-top: 0.5em;
  padding: 10px;
  color: black;
  font-size: 3em;
  font-weight: bold;
}

.compl-title {
  
  margin-top: 0.5em;
  padding: 10px;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  
}

#factcheck_modal .content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

.popup .content {
  width: 100%;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: .5em;
  margin-bottom: .5em;
}
.popup .content5 {
  width: 100%;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
}
.popup .content .FC {
  font-size: clamp(44px, 44px + 5vw, 5em);
  font-weight: bold;
  height: 100%;
}

.popup .content .fc_msg {
  line-height: 1.5;
}

.popup .cmd {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1.5em;
  min-height: 40px;
  position: relative;
  /*0926 hy*/
}

.popup .cmd .btn {
  background: #424242;
  border-radius: 100px;
  color: #fff;
  font-size: clamp(14px, 14px + 1.7vw, 1.7em);
  font-weight: 500;
  width: 100%;
  height: 2.3em;
}

.btn_wrap .btn {
  vertical-align: middle;
}

/* ------------------------------------------------------------ */