/* ------------------------------------------P1------------------------------------------- */

#p1 .icon {
    border: 0;
    width : 40%;
    height: unset;
}


#p1 .page_wrap {
    display: unset;
}

#p1 .under_bar {
    width: 100%;
    min-height: 70%;
    background: #fff;
    padding-top: 1em;
}

#p1 .btn {
    min-height: calc(var(--vh, 1vh)*5);
}

#p1 .fontB {
    color: #227BE4;
}

#p11 .icon {
    border: 0;
    width : 40%;
    height: unset;
}


#p11 .page_wrap {
    display: unset;
}

#p11 .under_bar {
    width: 100%;
    min-height: 70%;
    background: #fff;
    padding-top: 1em;
}

#p11 .btn {
    min-height: calc(var(--vh, 1vh)*5);
}

#p11 .fontB {
    color: #227BE4;
}


#p2 .under_bar {
    width: 100%;
    height: calc(var(--vh, 1vh)*80);
    background: #fff;
    padding-top: 1em;
}

#p2 .under_bar .btn {
    min-height: 1.8em !important;
}

#p2 .payBtn {
    width: 80%;
    height: 70%;
}

#p3 .under_bar {
    width: 100%;
    height: calc(var(--vh, 1vh)*80);
    background: #fff;
    padding-top: 1em;
}

#p3 .under_bar .btn {
    min-height: calc(var(--vh, 1vh)*15);
}

#p3 .border-g{
    border-width: 1.5px;
    border-color: #ebebeb;
}

#p4 .page_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#p4 .popup {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 60%;
    background-color: #fff;
    border-radius: 10px;
}

#p4 .popup .wrap {
    min-width: auto;
    height: calc(var(--vh, 1vh)*54);
    position: relative;
}

#p4 .popup .wrap {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
}

#p4 .popup .wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

#p4 .popup .nav .nav-item {
    padding-bottom: 1em;
}

#p4 .popup .nav .nav-item:not(.li1) {
    padding-left: 1.8em;
}

#p4 .popup .nav .nav-item:not(:first-child) {
    padding-top: 1em;
}

#p4 .popup .nav .nav-under .nav-item:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

#p4 .popup .nav .nav-under .nav-item svg {
    min-width: 1.3rem;
}

#p4 .btn {
    height: calc(var(--vh, 1vh)*8);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#p4 .image,
#p5 .image {
    margin-right: 1em;
}


#p5 .page_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#p5 .popup {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 60%;
    background-color: #fff;
    border-radius: 10px;
}

#p5 .popup .wrap {
    min-width: auto;
    height: calc(var(--vh, 1vh)*54);
    position: relative;
}

#p5 .popup .wrap {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
}

#p5 .popup .wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

#p5 .popup .nav .nav-item {
    padding-bottom: 1em;
}

#p5 .popup .nav .nav-item:not(.li1) {
    padding-left: 1.8em;
}

#p5 .popup .nav .nav-item:not(:first-child) {
    padding-top: 1em;
}

#p5 .popup .nav .nav-under .nav-item:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

#p5 .popup .nav .nav-under .nav-item svg {
    min-width: 1.3rem;
}

#p5 .btn {
    height: calc(var(--vh, 1vh)*8);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* <*----------------------------------*> */

#p6 .container .tab {
    padding-top: .5em;
    padding-bottom: .5em;
}

#p6 .check {
    margin: 1em;
}

#p6 .nav-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--vh, 1vh)*5);
}

#p6 .line {
    border-bottom: solid;
}

#p6 .page_wrap,
#p7 .page_wrap {
    background: #F5F6F7;
}

#p7 .container .tab {
    padding-top: .5em;
    padding-bottom: .5em;
}

#p7 .check {
    margin: 1em;
}

#p7 .nav-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--vh, 1vh)*5);
}

#p7 .line {
    border-bottom: solid;
}

#p8 .page_wrap {
    background: #F5F6F7;
}

#p8 .container .tab {
    padding-top: .5em;
    padding-bottom: .5em;
}

#p8 .check {
    margin: 1em;
}

#p8 .nav-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--vh, 1vh)*5);
}

#p8 .pop {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#p8 .pop .wrap {
    min-width: auto;
    position: relative;
}

#p8 .pop .wrap {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
}

#p8 .pop .wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

#p8 .pop .nav .nav-item {
    padding-bottom: 1em;
}

#p8 .pop .nav .nav-item-li {
    padding-bottom: .3em;
}

#p8 .pop .nav .nav-item:not(.li1) {
    padding-left: 1.8em;
}



#p8 .pop .nav .nav-under .nav-item:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

#p8 .pop .nav .nav-under .nav-item svg {
    min-width: 1.3rem;
}

#p8 .btn {
    min-height: calc(var(--vh, 1vh)*6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#p8 .line {
    border-bottom: solid;
}

#p8 .under_bar {
    padding-top: 1em;
}

#p8 input {
    min-height: 3.5em;
    border-color:#f7f7f7;
}
#p8 input:focus {
    outline: 1px solid #FAE100;
}

/* #p8 .border-y {
    border-color:#FAE100!important;
}
#p8 .border-n {
    border-color:#FAE100!important;
} */

/* ----- */

#p9 .page_wrap {
    background: #F5F6F7;
}

#p9 .container .tab {
    padding-top: .5em;
    padding-bottom: .5em;
}

#p9 .check {
    margin: 1em;
}

#p9 .nav-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--vh, 1vh)*5);
}

#p9 .pop {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#p9 .pop .wrap {
    min-width: auto;
    position: relative;
}

#p9 .pop .wrap {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
}

#p9 .pop .wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

#p9 .pop .nav .nav-item {
    padding-bottom: 1em;
}

#p9 .pop .nav .nav-item-li {
    padding-bottom: .3em;
}

#p9 .pop .nav .nav-item:not(.li1) {
    padding-left: 1.8em;
}



#p9 .pop .nav .nav-under .nav-item:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

#p9 .pop .nav .nav-under .nav-item svg {
    min-width: 1.3rem;
}

#p9 .btn {
    min-height: calc(var(--vh, 1vh)*6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#p9 .line {
    border-bottom: solid;
}

#p9 .under_bar {
    padding-top: 1em;
}

#p9 input {
    min-height: 3.5em;
    border-color:#f7f7f7;
}
#p9 input:focus {
    outline: 1px solid #FAE100;
}

/* ----- */

#p10 .page_wrap {
    background: #F5F6F7;
}

#p10 .container .tab {
    padding-top: .5em;
    padding-bottom: .5em;
}

#p10 .check {
    margin: 1em;
}

#p10 .nav-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--vh, 1vh)*5);
}

#p10 .pop {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#p10 .pop .wrap {
    min-width: auto;
    position: relative;
}

#p10 .pop .wrap {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
}

#p10 .pop .wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

#p10 .pop .nav .nav-item {
    padding-bottom: 1em;
}

#p10 .pop .nav .nav-item-li {
    padding-bottom: .3em;
}

#p10 .pop .nav .nav-item:not(.li1) {
    padding-left: 1.8em;
}



#p10 .pop .nav .nav-under .nav-item:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

#p10 .pop .nav .nav-under .nav-item svg {
    min-width: 1.3rem;
}

#p10 .btn {
    min-height: calc(var(--vh, 1vh)*6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#p10 .line {
    border-bottom: solid;
}

#p10 .under_bar {
    padding-top: 1em;
}

#p10 input {
    min-height: 3.5em;
    border-color:#f7f7f7;
}
#p10 input:focus {
    outline: 1px solid #FAE100;
}
